:root {
    --kasino-1: #141414;
    --kasino-2: #282828;
    --kasino-3: #141428;
    --kasino-4: #28283c;
    --kasino-5: #c86428;
    --kasino-6: #142828;
}

body {
    background-color: var(--kasino-1) !important;
}


#logo {
    height: 150px;
    width: auto;
}


#duplas {
    padding-bottom: 10%;
}


#curingas {
    padding-bottom: 10%;
}

.carta {
    height: 200px;
    width: auto;
}

.nomes {
    margin-bottom: -10px;
}

.btn-check:checked+label.btn-dark {
    background-color: var(--kasino-5);
    border-color: var(--kasino-5);
}

.texto-1 {
    color: white;
}