#duplas {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10%;
}

#dupla-1 {
    background-color: rgb(255, 255, 255);}

#dupla-2 {
    background-color: rgb(255, 255, 255);
}

#curingas {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10%;
}

#jogadores {
    background-color: rgb(255, 255, 255);
}

.carta {
    height: 200px;
    width: auto;
}

.vez {

}